<h1><%= title %></h1>
    
<%- messages() %>

<form action="/account/register" method="post">
    <label for="fname">First Name<span style="color:orangered">*</span></label>
    <input type="text" id="fname" name="account_firstname" required>
    
    <label for="lname">Last Name<span style="color:orangered">*</span></label>
    <input type="text" id="lname" name="account_lastname" required>
    
    <label for="email">Email<span style="color:orangered">*</span></label>
    <input type="email" id="email" name="account_email" required>
    
    <label for="password">Password<span style="color:orangered">*</span></label>
    <small>
        minimum 12 chars, 1 capital, 1 number and 1 special char!
    </small>
    <div>
        <input 
            type="password" id="pword" name="account_password" placeholder="Enter a valid email address" 
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
        required>
        <button type="button" id="pswdBtn">Show</button>
    </div>

    <button type="submit">Register</button>
</form>

<script src="/js/passwordHider.js"></script>