<h1><%= title %></h1>
    
<%- messages() %>

<div id="userManagementContainer">
    <p>Use this page to manage user account types.</p>
    <%- userList %>
</div>

<script src="/js/user-management.js"></script>