<header id="top-header">
  <span class="siteName">
    <a href="/" id="logoName" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <a href="/account/login" id="accountLink" title="Click to log in">My Account</a>
  </div>
</header>